.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: "./images/BackgroundImage.png";
  background-image: rgb(#004494);
  /* background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 255),
    rgb(34, 0, 184),
    rgb(0, 0, 255),
    rgb(34, 0, 184),
    rgb(0, 0, 255),
    rgb(59, 35, 167)
  );*/
}

.content {
  display: flex;
  flex-direction: row;
}

.side {
  flex: 10;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: start;
  align-items: center;
  /* margin: ; */
}
.contentChild {
  flex: 80;
  display: flex;
  flex-direction: column;
  height: 800px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.menu > a {
  background-color: aquamarine;
  height: 40px;
  max-width: 125px;
  min-width: 40px;
  border-radius: 10px;
  margin: 10px 0;
  padding: 0 0 0 5px;
  color: black;
  justify-content: start;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.menu {
  /* opacity: 60%; */
}
.menu > a:hover {
  color: white;
}

.button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  /* text-align: left; */
  background-color: red;
  height: 40px;
  width: 125px;
  min-width: 40px;
  border-radius: 10px;
  margin: 10px 0;
  padding: 0 0 0 5px;
  color: black;
  justify-content: start;
  border-style: none;
  font-weight: bold;
}
.button:hover {
  /* background-color: white; */
  color: white;
}
