.formContainer {
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 35vw;
  min-width: 275px;
  max-width: 350px;
  min-height: 450px;
  background-color: rgb(69, 221, 221);
  border-radius: 20px;
  box-sizing: border-box;
}

.loginForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
}
h2 {
  height: 3rem;
  font-size: 1.75rem;
  text-align: center;
  margin: 0px;
  padding: 0px;
  justify-content: flex-start;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  max-width: 300px;
  height: 50px;
  margin: 1rem 0;
}

.input {
  background-color: white;
  color: black;
  border-style: none;
  border-radius: 5px;
  max-width: 200px;
  height: 2rem;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
}

label {
  width: 80px;
  /* text-align: ; */
  margin-right: 10px;
}

.button,
.linkButton {
  /* display: inline-block; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin: 5px;
  height: 50px;
  width: 80px;
  font-weight: 500;
}

.button:hover,
.button:active {
  background-color: #0056b3;
}

::placeholder {
  text-align: center;
}

@media (max-width: 600px) {
  .formContainer {
    width: 90%;
    min-width: unset;
    padding: 15px;
  }

  .loginForm {
    width: 100%;
    padding: 10px;
  }

  .inputGroup {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .input {
    width: 100%;
  }

  label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }

  .buttonGroup {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .button,
  .linkButton {
    width: 75%;
    font-size: calc(14rem / 16);
    height: 40px;
  }
}

@media (max-width: 350px) {
  .formContainer {
    padding: 10px;
  }

  /* h2 {
    font-size: 24px;
  } */

  .inputGroup {
    margin: 0.5rem 0;
  }

  .button,
  .linkButton {
    width: 75%;
    margin-top: 8px;
    font-size: 12px;
    height: 40px;
  }
}
