.playPauseButton {
  display: flex;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background-color: var(--c-primary);
  border-style: none;
  border-radius: 1rem;
  padding: 0;
}
.playPauseButton:hover {
  background-color: var(--c-primary-hover);
}
