.sidebar {
  width: 16rem;
  padding: 1rem;
  background-color: var(--c-surface);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--c-border);
  transition: transform 0.3s ease-in-out;
}
.sidebarHeader {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--c-text-primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sidebarNav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sidebarNavItem {
  display: flex;
  align-items: center;
  width: inherit;
  padding: 0.75rem 0rem 0.75rem 0.5rem;
  gap: 0.75rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
}
.sidebarNavItem.active {
  background-color: var(--c-primary);
  color: var(--c-primary-text-on);
}
.sidebarNavItem:not(.active) {
  color: var(--c-text-secondary);
}
.sidebarNavItem:not(.active):hover {
  background-color: var(--c-border);
  color: var(--c-text-primary);
}
.sidebarFooter {
  margin-top: 1rem;
}
.themeToggle {
  width: 100%;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: auto;
    width: 100%;
    height: auto;
    flex-direction: column;
    border-right: none;
    border-top: 1px solid var(--c-border);
    z-index: 10;
    padding: 0.5rem;
    justify-content: space-around;
  }
  .sidebarHeader {
    display: none;
  }
  .sidebarNav {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
  }
  .sidebarNavItem {
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.25rem;
    font-size: 0.75rem;
    width: 45%;
  }
  .themeToggle {
    display: inline-flex;
    width: 100%;
    margin: none;
    align-items: center;
    justify-content: center;
  }
}
